.chart-card {
    background-color: white;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.chart-placeholder {
    height: 150px;
    background-color: #e3e3e3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}