.dashboard {
    flex: 1;
    padding: 32px;
    background-color: #fff;
    min-height: 100vh;
    /* full chi·ªÅu cao */
}

.dashboard h1 {
    margin-bottom: 20px;
}

/* KPI */
.kpi-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;

}

/* Charts */
.charts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.chart-box {
    flex: 1;
    min-width: 400px;
    background: #fafafa;
    padding: 16px;
    border-radius: 8px;
}