* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 10px 0;

}

img {
    width: 250px;
    height: auto;

}

.btn-login {
    margin-right: 30px;
    padding: 4px 10px;
    background-color: var(--pepsi-blue);
    color: #fff;
    border-radius: 5px;
}


.btn-login:hover {
    color: #fff;
    opacity: 0.8;

}

.user-info {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--pepsi-blue);
    margin-right: 10px;
    white-space: nowrap;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: 1px solid #ccc;
}

.profile-details p {
    font-size: 16px;
}

.mini-profile {
    position: absolute;
    top: 50px;
    right: 0;
    width: 220px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border: 1px solid #eee;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
}

.user-info:hover .mini-profile {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.large-avatar {
    width: 50px;
    height: 50px;
}

.search-container {
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    height: 35px;
    /* Tăng nhẹ chiều cao để cân đối với icon */
    width: 100%;
    /* Để input chiếm hết 100% của container cha (500px) */
    padding: 0 15px;
    border: 1px solid #ccc;
    border-right: none;
    /* Bỏ viền phải để nối liền với nút search */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

.search-container button {
    height: 35px;
    padding: 0 15px;
    background-color: var(--pepsi-blue);
    color: #fff;
    border: 1px solid var(--pepsi-blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    align-items: center;
    justify-content: center;
}

.search-container button:hover {
    background-color: #00457c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container button:active {
    transform: scale(0.95);
}