table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #eee;
    background-color: #0046be;
    color: white;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #f9fbff;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.Client-top a {
    text-decoration: none;
    color: #0046be;
    font-size: 14px;
    padding: 5px 12px;
    border: 1px solid #0046be;
    border-radius: 20px;
    transition: 0.3s;
}

.Client-top {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.Client-top a:hover {
    background: #0046be;
    color: white;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.status-badge.active {
    background: #e6fffa;
    color: #047481;
}

.status-badge.potential {
    background: #fffaf0;
    color: #9c4221;
}

.status-badge.stopped {
    background: #fff5f5;
    color: #c53030;
}

/* Client.css */
.action-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.action-buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

/* Hiệu ứng khi di chuột vào nút xóa */
.btn-delete:hover {
    background-color: #fff5f5;
    border-radius: 4px;
    transform: scale(1.1);
}

/* Hiệu ứng khi di chuột vào nút sửa */
.btn-edit:hover {
    background-color: #e7f0ff;
    border-radius: 4px;
    transform: scale(1.1);
}